<div class="search">sökfält</div>
@await Html.PartialAsync("Partials/Components/_NotificationPartial")
@await Html.PartialAsync("Partials/Components/_SettingsPartial")
<div class="avatar">
    <img class="avatar-image" src="/Images/Avatar2.svg" alt="avatar image">
</div>