<div class="settings">
    <button class="settings-gear"><i class="fa-duotone fa-solid fa-gear" style="--fa-primary-color: #a0a6b0; --fa-secondary-color: #090c11; --fa-secondary-opacity: 1;"></i></button>
</div>
