<div class="main-menu-horizontal">
    <button id="main-menu-all" class="btn-main-projects">ALL (8)</button>
    <button id="main-menu-started" class="btn-main-projects">STARTED (8)</button>
    <button id="main-menu-completed" class="btn-main-projects">COMPLETED (0)</button>
</div>
