@{
	Layout = "_CleanLayout";
	ViewData["Title"] = "Login";
}

<div class="center-screen">
    <div class="surface">
        @ViewData["Title"]
    </div>
</div>
    <!-- <main class="center-content">


        <div>
            <h1 class="tac">Login</h1>
        </div>
        <div class="btn-grid">
            <button class="btn btn-login flex-row">
                <img class="google-icon" src="Images/google-icon.svg" alt="google-icon">
                <p class="btn-text">Login with Google</p>
            </button>
        </div>
        <div class="divider">
            <div class="line"></div>
            <p class="line-text">OR</p>
            <div class="line"></div>
        </div>
        <div class="form">
            <form id="email" class="form-email flex-column" action="">
                <label for="form-email">Email</label>
                <input class="form-input" type="text" name="Email" placeholder="Your email address">
            </form>
            <form id="password" class="form-password flex-column" action="">
                <label for="form-password">Password</label>
                <input class="form-input" type="text" placeholder="Enter your password">
            </form>
            <label class="checkbox flex-row">
                <input type="checkbox">
                <span>Remember Me</span>
            </label>
            <a class="forgotpassword flex-row" href="ForgotPassword">Forgot Password?</a>
        </div>
        <button class="btn btn-submit" id="submitAll" type="submit">Log in</button>
        <div>
            <p class="tac">Don´t have an account? <a href="SignUp.html">Sign up</a></p>
        </div>
    </main> -->

