@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
    --font-standard: "nunito", sans-serif;
    --font-logo: "Comfortaa", sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    --size-tablet: 768px;
    --size-desktop: 1400px;
    --white-100: #FFFFFF;
    --white-200: #F5F7FA;
    --white-300: #F1F3F7;
    --white-400: #F0F1F5;
    --white-500: #EAECF0;
    --grey-100: #E8EAED;
    --grey-200: #EBEEF2;
    --grey-300: #E3E5E8;
    --grey-400: #E8E8E8;
    --grey-500: #dedede;
    --grey-600: #C6C8CC;
    --grey-700: #9E9E9E;
    --grey-800: #637085;
    --dark-100: #1A1926;
    --dark-200: #1C1D1F;
    --dark-300: #202123;
    --dark-400: #28263B;
    --dark-500: #333333;
    --dark-600: #38383B;
    --dark-700: #1A1A1A;
    --dark-800: #151517;
    --dark-900: #232324;
    --yellow-color: #FFD422;
    --dark-yellow-color: #FCBB42;
    --orange-color: #FF9640;
    --dark-orange-color: #F09330;
    --red-color: #FF6640;
    --red-opacity-10-color: #ff66401a;
    --red-opacity-12-color: #ff66401f;
    --dark-red-color: #E94D3F;
    --green-color: #31D482;
    --dark-green-color: #24B26B;
    --accent-color: #2D99FF;
    --accent-opacity-10-color: #1a8eff1a;
    --accent-opacity-12-color: #1a8eff1f;
    --dark-accent-color: #2682D9;
    --blue-color: #2CD9D9;
    --dark-blue-color: #2D7DCC;
    --purple-color: #826AF9;
    --dark-purple-color: #634CD4;
    --body-light-color: var(--grey-800);
    --body-dark-color: var(--dark-400);
    --background-color: var(--white-300);
    --surface-color: var(--white-100);
    --border-100: var(--grey-200);
    --border-200: var(--grey-300);
    --border-300: var(--grey-600);
    --heading-color: var(--dark-100);
    --text-color: var(--body-dark-color);
    --dark-surface-1: var(--dark-300);
    --dark-surface-2: var(--dark-200);
    --dark-body-light: var(--grey-400);
    --dark-body-dark: var(--grey-700);
    --dark-dark-200: var(--dark-600);
    --dark-background: var(--dark-800);
    --dark-border-200: var(--dark-900);
    --btn-blue-background-color: var(--accent-color);
    --btn-blue-border-color: 1px solid var(--white-100);
    --btn-blue-text-color: var(--white-100);
    --btn-blue-hover-background-color: var(--dark-accent-color);
    --btn-blue-hover-text-color: var(--white-100);
    --btn-grey-background-color: var(--white-200);
    --btn-grey-border-color: 1px solid var(--white-100);
    --btn-grey-text-color: var(--heading-color);
    --btn-grey-hover-background-color: var(--grey-400);
    --btn-grey-hover-text-color: var(--heading-color);
    --font-menuHorizontal: var(--font-bold);
    --navlink-background-color: transparent;
    --navlink-text-color: var(--heading-color);
    --navlink-background-hover-color: var(--accent-opacity-10-color);
    --navlink-text-hover-color: var(--accent-color);
    --navlink-background-active-color: var(--accent-opacity-10-color);
    --navlink-text-active-color: var(--accent-color);
}

[data-theme="dark"] {
    --text-color: var(--dark-body-light);
    --background-color: var(--dark-background);
    --border-200: var(--dark-border-200);
    --heading-color: var(--white-100);
    --body-light-color: var(--dark-body-dark);
}

/* #region base */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 16px;
    font-weight: var(--font-regular);
    font-style: normal;
    font-family: var(--font-standard);
    color: var(--text-color);
    background-color: var(--background-color);
}
/* #endregion */

/* #region Structure */
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.surface {
    padding: 2rem;
    background-color: var(--background-color);
    box-shadow: 0px 40px 30px -30px rgba(4, 15, 21, 0.06);
    border-radius: 1rem;
}


/* #endregion */

/* #region Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-standard);
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: var(--font-bold);
    font-size: 36px;
}

h2 {
    font-weight: var(--font-bold);
    font-size: 32px;
}

h3 {
    font-weight: var(--font-bold);
    font-size: 28px;
}

h4 {
    font-weight: var(--font-semibold);
    font-size: 24px;
}

h5 {
    font-weight: var(--font-semibold);
    font-size: 20px;
}

h6 {
    font-weight: var(--font-semibold);
    font-size: 18px;
}
/* #endregion */

/* #region Links */
.nav-link {
    font-family: var(--font-standard);
    font-weight: var(--font-medium);
    font-size: 1rem;
}

.tab-link {
    font-family: var(--font-standard);
    font-weight: var(--font-bold);
    font-size: 1rem;
}

.side-link {
    margin: 1rem 0;
    background-color: var(--accent-opacity-10-color);
    color: var(--accent-color);
}

    .side-link:hover {
        background-color: var(--accent-color);
        color: var(--white-100);
    }

.logotype {
    text-decoration: none;
}

.btn-main-projects {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    font-weight: var(--font-menuHorizontal);
    font-size: var(--font-regular);
    padding: 0;
    color: var(--body-light-color);
}

    .btn-main-projects:hover {
        color: var(--dark-accent-color);
        border-bottom: 3px solid var(--dark-accent-color);
    }

    .btn-main-projects:active {
        color: var(--accent-color);
        border-bottom: 3px solid var(--accent-color);
    }

@media (min-width: 768px) {
    .side-link {
        width: 100%;
    }
}
/* #endregion */

/* #region buttons */

.btn {
    border-radius: .875rem;
    font-size: 1rem;
    font-weight: var(--font-semibold);
    font-family: var(--font-standard);
    padding: .7rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

.btn-blue {
    background-color: var(--btn-blue-background-color);
    border: 1px solid var(--btn-blue-border-color);
    color: var(--btn-blue-text-color);
}

    .btn-blue:hover {
        background-color: var(--btn-blue-hover-background-color);
        color: var(--btn-blue-hover-text-color);
    }

.btn-grey {
    background-color: var(--btn-grey-background-color);
    border: 1px solid var(--btn-grey-border-color);
    color: var(--btn-grey-text-color);
}

    .btn-grey:hover {
        background-color: var(--btn-grey-hover-background-color);
        color: var(--btn-grey-hover-text-color);
    }


/* #endregion */

/* #region List */

/* #endregion */

/* #region Components */
.notification-bell {
    border: none;
    background-color: transparent;
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}

.notification-ball {
    border-radius: 1rem;
    width: 11px;
    height: 11px;
    background-color: var(--red-color);
    border: 2px solid var(--background-color);
    position: absolute;
    top: 2px;
    right: 5px;
}

.settings-gear {
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
}

.avatar {
    width: 5rem;
}

.avatar-image {
    width: 100%;
    height: auto;
}

.portal {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 1fr;
    grid-template-areas: "top" "side" "main";
    position: relative;
}

    .portal > .side {
        grid-area: side;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .portal > .side > .logotype {
            font-family: var(--font-logo);
            color: var(--text-color);
            font-weight: var(--font-bold);
            font-size: 26px;
            display: flex;
            justify-content: center;
            gap: .7rem;
        }

    .portal > .top {
        grid-area: top;
        border-bottom: 1px solid var(--border-200);
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        align-items: center;
        width: 100dvw;
        position: fixed;
        background-color: var(--background-color);
    }

        .portal > .top > .search {
            height: 100%;
            display: flex;
            align-items: center;
        }

        .portal > .top > .notice {
            padding-left: 1rem;
        }

        .portal > .top > .settings {
            padding-right: 1rem;
            padding-left: 1.5rem;
            border-right: 1px solid var(--border-200);
        }

        .portal > .top > .avatar {
            padding-left: 2rem;
        }

    .portal > .main {
        border-top: 1px solid var(--border-200);
        grid-area: main;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.main-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: transparent;
    border: none;
}

.main-menu-horizontal {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.nav-links {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

    .nav-links > .nav-link {
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: var(--navlink-text-color);
        background-color: var(--navlink-background-color);
    }

        .nav-links > .nav-link:hover {
            background-color: var(--accent-opacity-10-color);
            color: var(--accent-color);
            color: var(--navlink-text-hover-color);
            background-color: var(--navlink-background-hover-color);
        }

        .nav-links > .nav-link.active {
            background-color: var(--accent-opacity-10-color);
            color: var(--accent-color);
            color: var(--navlink-text-active-color);
            background-color: var(--navlink-background-active-color);
        }

@media (min-width: 768px) {
    .portal {
        grid-template-columns: minmax(50px, 270px) 1fr;
        grid-template-rows: minmax(80px, auto) 1fr;
        grid-template-areas: "side top" "side main";
    }

        .portal > .side {
            border-right: 1px solid var(--border-200);
            position: fixed;
            height: 100dvh;
            width: 270px;
        }

            .portal > .side > .logotype {
                margin-right: auto;
            }

        .portal > .top {
            padding: 1rem 2rem;
            width: calc(100dvw - 270px);
        }

        .portal > .main {
            border-top: none;
            padding: 2rem;
            display: flex;
        }

    .main-menu-horizontal {
        justify-content: flex-start;
    }

    .nav-links > .nav-link {
        justify-content: flex-start;
    }
}
/* #endregion */

/* #region Sections */

/* #endregion */

/* #region Views/pages */

/* #endregion */

.wrapper {
    background-color: var(--surface-color);
    padding: 1rem;
    /* width: 100vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6.2rem;
    box-shadow: 0px 20px 30px -18px rgba(4, 15, 21, 0.10);
    border-radius: 1rem;

    @media (width >= 768px) {
        max-width: 37.5rem;
    }
    
    @media (width >= 992px) {
    }
    
    @media (width >= 1400) {
    } */
}
/* 

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.tac {
    text-align: center;
}




.card {
    padding-top: 1.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.btn-grid {
    grid-row: 1;
    grid-column: 1/3;
    place-content: center;
}

.btn {
    border-radius: .875rem;
    border: 1px solid var(--surface-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 16px 0px rgba(0, 129, 255, 0.18);
    color: #ffffff;
    padding: .875rem 1.5rem;
}

.btn-login {
    justify-content: center;
    align-items: center;
    position: relative;
    height: fit-content;
    width: 100%;
    background-color: var(--grey-100);
    color: var(--heading-color);
    box-shadow: none;
    .google-icon {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.btn-submit {
    grid-row: 6;
    grid-column: 1/3;
    height: fit-content;
}

.divider {
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    align-items: center;
    gap: .5rem;
    opacity: 0.9;
    .line {
        width: 100%;
        height: 0.5px;
        border: 1px solid #637085;
    }
    .line-text {
        color: #637085;
    }
}

.form {
    grid-column: 1/3;
    grid-row: 3/6;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .form-email {
        grid-column: 1/3;
        grid-row: 1;
    }

    .form-password {
        grid-column: 1/3;
        grid-row: 2;
        padding-top: 1rem;
    }

    .form-label {

    }

    .form-input {
        padding: .88rem 1rem;
        border-radius: .875rem;
        border: 1px solid #a1a1a17c;
    }
}

.checkbox {
    grid-column: 1/2;
    grid-row: 3;
    align-items: center;
    gap: .5rem;
}

.forgotpassword {
    grid-column: 2/3;
    grid-row: 3;
    align-items: center;
    justify-content: end;
} */
